*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  --white1: #ffffff;
  --black1: #000000;

  --textgrey: #808184;

  --grey1: #dfe4e9;
  --grey2: #f0f1f4;
  --grey3: #F8F8FA;


}
.board-container{
  /* height: calc(100vh - 68px); */
  min-height: 100vh;
  background-color: var(--grey2);
  /* overflow-x: scroll; */

}
.board-container-list{
  width: fit-content;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
}